/*公共*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style: none
}

body {
    font-family: "微软雅黑";
}

a:hover {
    text-decoration: none;
}

/*加载前的动画*/
.load-befor-animate {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #77e9f6;
    overflow: hidden;
}

.load-before {
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    padding: 1rem 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*Loader*/
.loading {
    background: #FFFFFF;
    position: relative;
    -webkit-animation: loading 1s ease-in-out infinite;
    -moz-animation: loading 1s ease-in-out infinite;
    -o-animation: loading 1s ease-in-out infinite;
    animation: loading 1s ease-in-out infinite;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
    width: 0.3rem;
    height: 1.2rem;
    border-radius: 10%;
}

.loading:after,
.loading:before {
    content: '';
    position: absolute;
    width: 0.3rem;
    height: 1.2rem;
    background: #FFFFFF;
    -webkit-animation: inherit;
    -moz-animation: inherit;
    -o-animation: inherit;
    animation: inherit;
    border-radius: 10%;
}

.loading:before {
    right: 1rem;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.loading:after {
    left: 1rem;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

@keyframes loading {
    0%,
    100% {
        box-shadow: 0 0 0 #FFFFFF, 0 0 0 #FFFFFF;
        -moz-box-shadow: 0 0 0 #FFFFFF, 0 0 0 #FFFFFF;
        -webkit-box-shadow: 0 0 0 #FFFFFF, 0 0 0 #FFFFFF;
    }
    50% {
        box-shadow: 0 -.75em 0 #FFFFFF, -0 .75em 0 #FFFFFF;
        -moz-box-shadow: 0 -.75em 0 #FFFFFF, -0 .75em 0 #FFFFFF;
        -webkit-box-shadow: 0 -.75em 0 #FFFFFF, -0 .75em 0 #FFFFFF;
    }
}

@-ms-keyframes loading {
    0%,
    100% {
        box-shadow: 0 0 0 #FFFFFF, 0 0 0 #FFFFFF;
        -moz-box-shadow: 0 0 0 #FFFFFF, 0 0 0 #FFFFFF;
        -webkit-box-shadow: 0 0 0 #FFFFFF, 0 0 0 #FFFFFF;
    }
    50% {
        box-shadow: 0 -.75em 0 #FFFFFF, -0 .75em 0 #FFFFFF;
        -moz-box-shadow: 0 -.75em 0 #FFFFFF, -0 .75em 0 #FFFFFF;
        -webkit-box-shadow: 0 -.75em 0 #FFFFFF, -0 .75em 0 #FFFFFF;
    }
}

/*首页*/
.ztHp {
    display: none;
    background: url("../img/ztHpBj.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.ztNav {
    width: 100%;
    padding: 0.6667rem 4.33334rem;
    overflow: hidden;
    position: fixed;
    top: 0;
    background: transparent;
    z-index: 9999;
    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
}

.ztLogo {
    width: 5.78964rem;
    height: 2.267rem;
    display: inline-block;
}

.ztLogo img {
    width: 100%;
}

.ztNavList {
    display: inline-block;
    margin: 1.3333rem 0 0 0rem;
}

.ztNavList > li {
    display: inline-block;
    margin-left: 0.66667rem;
}

.ztNavList > li:nth-of-type(1) {
    margin-left: 0;
}

.ztNavList > li > a {
    color: #ffffff;
    font-size: 0.733334rem;
}

.ztHp_animate {
    font-size: 0.733334rem;
    color: #ffffff;
    position: absolute;
    bottom: 3rem;
    left: 4.33334rem;
}

.ztHp_animate p {
    width: 21.11rem;
    line-height: 1rem;
    letter-spacing: 0.2rem;
}

/*服务项目*/
.container {
    position: relative;
    display: none;
    min-width: 100%;
    padding: 0;
}

.ztFWPro {
}

.ztFWPro_head, .zt_proAL_head, .zt_newGG_head, .zt_wmWay_head {
    text-align: center;
    padding: 4rem 0 2rem;
}

.zt_title {
    font-size: 1.6rem;
    color: #000000;
    letter-spacing: 0.66667rem;
}

.zt_title_En {
    font-size: 0.4rem;
    color: #AAAAAA;
    margin-right: 0.8rem;
}

.list-group {
    width: 100%;
    margin-bottom: 0;
}

.list-group-item {
    border: 0 solid transparent;
    padding: 0;
    overflow: hidden;
}

.zt_fw_info_list > a {
    width: 38.233334rem;
    height: 12.866667rem;
    overflow: hidden;
    float: left;
    position: relative;
}

.zt_fw_info_list > a img {
    width: 110%;
    vertical-align: center;
    position: relative;
    top: -5.4666667rem;
}

.zt_fw_info_list:nth-of-type(2n) > a {
    float: right;
}

.zt_fw_info {
    margin: 4rem 0 0 1.8rem;
    clear: both;
    display: inline-block;
    color: #000000;
    position: relative;
}

.zt_fw_info_num {
    font-size: 2rem;
}

.zt_fw_info_title {
    font-size: 1.2rem;
}

.zt_fw_info_list:nth-of-type(2n) > .zt_fw_info {
    margin-left: 15.932667rem;
}

/*项目案例*/
.ztProAL {
    background: #16233D;
    color: #ffffff;
    padding: 0 10.3333rem 5rem;
}

.ztProAL .zt_title {
    color: #ffffff;
}

.button-group {
    margin-bottom: 1.166667rem;
}

.button-group > button {
    font-size: 0.933333rem;
    color: #b2b2b2;
    padding: 0.5rem 0.6rem;
    display: inline-block;
    border-radius: 4%;
    background: transparent;
    border: 0 solid transparent;
}

.button-group > button:hover {
    color: #ffffff;
    background: #FFC627;
}

.button-group > .new-btn {
    color: #ffffff;
    background: #FFC627;
}

.isotope > div {
    width: 12.6667rem;
    overflow: hidden;
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1.3334rem;
}

.isotope > div > a {
    width: 35rem;
    height: 35rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.isotope > div:nth-of-type(3n) {
    height: 16.4rem;
}

.isotope > div:nth-of-type(3n-2) {
    height: 16rem;
}

.isotope > div:nth-of-type(3n-1) {
    height: 8rem;
}

.isotope > div > a img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.zt-new-loader {
    height: 3rem;
    width: 3rem;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    vertical-align: top;
    display: none;
    overflow: hidden;
}

.loader {
    text-indent: -9999em;
    position: relative;
    width: 2rem;
    height: 2rem;
    background: #ffffff;
    /*从左向右0~10%位置纯白，10%~50%纯白~透明*/
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.3rem rgba(255, 255, 255, .2);
    -webkit-animation: load-effect 1.5s linear infinite;
    animation: load-effect 1.5s linear infinite;
    -moz-animation: load-effect 1.5s linear infinite;
}

/*绘制纯白1/4圆*/
.loader::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 50%;
    background: #FFF;
    border-radius: 100% 0 0 0;
    left: 0;
    top: 0;
}

/*绘制背景内圆，挡住白色,颜色为背景色*/
.loader::after {
    background: #16233D;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
}

@keyframes load-effect {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes load-effect {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-ms-keyframes load-effect {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes load-effect {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes load-effect {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.load-more {
    color: #ffffff;
    font-size: 1rem;
    background: #FFC627;
    padding: 0.66667rem 2.5rem;
    border-radius: 0.2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.load-more:hover {
    background: #ffffff;
    color: #000000;
    transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
}

/*新闻公告*/
.ztNewGG {
    padding: 0 11.03333rem 3rem;
    background: #f8f8f8;
}

.new-list {
    padding-bottom: 2rem;
}

.new-list-item {
    display: inline-block;
    margin-right: 0.733333rem;
    min-width: 12.866667rem;
}

.new-list-item:hover {
    box-shadow: 0.23333rem 0.23333rem 0.6rem #ADADAD;
    -moz-box-shadow: 0.23333rem 0.23333rem 0.6rem #ADADAD;
    -webkit-box-shadow: 0.23333rem 0.23333rem 0.6rem #ADADAD;
    -o-box-shadow: 0.23333rem 0.23333rem 0.6rem #ADADAD;
}

.new-list > div:last-child {
    margin-right: 0;
}

.thumbnail {
    border: 0 solid transparent;
    padding: 0 0 0.666667rem;
    margin-bottom: 0;
}

.thumbnail > img {
    min-width: 12.866667rem;
    width: 12.866667rem;
    height: 8.166667rem;
    margin: 0;
}

.thumbnail .caption {
    padding: 0 0 0.66667rem 0.66667rem;
}

.carousel-control .glyphicon-chevron-right {
    top: 45%;
}

.carousel-control .glyphicon-chevron-left {
    top: 45%;
}

.carousel-control.right {
    right: -5.55rem;
    background-image: none;
}

.carousel-control.left {
    left: -5.55rem;
    background-image: none;
}

.new-item-title {
    color: #333333;
    margin-top: 1rem;
    margin-bottom: 0.66667rem;
}

.new-item-time {
    font-size: 0.6rem;
    color: #ffc627;
    margin-bottom: 0.66667rem;
}

.new-item-time:hover {
    cursor: default;
}

.new-item-content {
    color: #AAAAAA;
    width: 11.366667rem;
}

.new-item-more {
    margin-top: 1rem;
}

.new-item-more > a {
    background: #ffc627;
    border: 0 solid transparent;
    cursor: pointer;
}

.new-item-more > a:hover {
    background: #16233d;
}

/*联系我们*/
.lxwm-list {
    padding: 0 0rem 0 12.466667rem;
}

.lxwm-list-item {
    display: inline-block;
    margin-right: 5.6rem;
}

.lxwm-list > li:last-child {
    margin-right: 0;
}

.wmWay-info {
    text-align: center;
}

.wmWay-info > a {
    width: 4.4rem;
    display: inline-block;
    cursor: pointer;
}

.wmWay-info > a img {
    width: 100%;
}

.lxwm-item-title {
    margin: 0.66667rem 0 0.33333rem;
    color: #666666;
    font-size: 0.66667rem;
}

.lxwm-item-tel {
    color: #AAAAAA;
    font-size: 0.66667rem;
}

/*脚注*/
.zt-footer {
    display: none;
    margin: 2rem 11.83333rem;
    position: relative;
}

.bottom-logo {
    width: 4.4rem;
    height: 1.7rem;
    display: inline-block;
}

.bottom-logo img {
    width: 100%;
}

.up-top {
    display: none;
    width: 2.06667rem;
    height: 2.06667rem;
    position: fixed;
    right: 2%;
    bottom: 7%;
    cursor: pointer;
}

.up-top img {
    width: 100%;
}

.zt-footer > p {
    margin-top: 0.5rem;
    color: #666666;
    font-size: 0.66667rem;
}

/*map*/
.way-map {
    margin-top: 2rem;
    position: relative;
}

#map {
    height: 14rem;
}

#map-p {
    width: 1rem;
    height: 1rem;
    position: absolute;
    display: inline-block;
    right: 0.3rem;
    bottom: 0.3rem;
    cursor: pointer;
    background: #ffffff;
}

#map-p > img {
    width: 100%;
}