/*公共*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style: none
}
/*首页*/
.ztHp {
    background: url("../img/ztHpBj.png") no-repeat;
    background-size: 100%;
    padding: 1.3334rem 4.33334rem 4rem;
}

.ztNav {
    overflow: hidden;
}

.ztLogo {
    width: 5.78964rem;
    height: 2.267rem;
    display: inline-block;
}

.ztLogo img {
    width: 100%;
}

.ztNavList {
    display: inline-block;
    margin-top: 1.3333rem;
}

.ztNavList > li {
    display: inline-block;
    margin-left: 0.66667rem;
}

.ztNavList > li:nth-of-type(1) {
    margin-left: 0;
}

.ztNavList > li > a {
    color: #ffffff;
    font-size: 0.733334rem;
}

.ztHp_animate {
    font-size: 0.733334rem;
    color: #ffffff;
    margin-top: 22rem;
}